@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>

<html>

<head>

	<title>Search Box</title>

	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

	<div class="wrapper">
		<div class="title">
			<h1>Add Candidate details</h1>
		</div>
		<div class="contact-form">
			<div class="input-fields">
				<input type="text" class="input" placeholder="Name" id="name">
				<input type="email" class="input" placeholder="Enter your Email" id="email" disabled>
				<br />
				<label>
					<strong>
						Experience
					</strong>
				</label>
				<input type="number" class="input" min="0" value=0 id="experience">
				<br />
				<label>
					<strong>
						enter your skillsets
					</strong>
				</label>
				<ul id="myUL">
				</ul>
				<div id="myDIV" class="header">
					<input type="text" class="input" id="myInput" placeholder="skill...">
					<span onclick="newElement()" class="addBtn">Add</span>
				</div>

				<br />
				<label>
					<strong>
						Enter your current CTC in lakhs
					</strong>
				</label>
				<input type="number" class="input" value=0 id="currentCTC">
				<br />
				<label>
					<strong>
						Enter your Expected CTC in lakhs
					</strong>
				</label>
				<input type="number" class="input" value=0 id="expectedCTC">
				<input type="text" class="input" placeholder="Enter your current location" id="currentLocation">
				<input type="text" class="input" placeholder="Enter your prefered location" id="preferedLocation">
				<br>
				<label>
					<strong>
						Enter the source
					</strong>
				</label>
				<select class="input" id="source">
					<option value="select one" selected disabled >select one</option>
					<option value="naurkri">naurkri</option>
					<option value="LinkedIn">LinkedIn</option>
					<option value="others">others</option>
				</select>
				<br>
				<label> upload your resume in pdf or (.doc)word file</label>
				<br>
				<input type="file" class="file" accept=".doc, .pdf" id="Resume">
				<br />

			</div>
		</div>
		<div class="buttons-section">
			<div class="btn" id="add-btn">Add</div>
			<div class="btn">cancel</div>
		</div>
	</div>



	<script>
		var skillSet = [];
		var myNodelist = document.getElementsByTagName("LI");
		var i;
		for (i = 0; i < myNodelist.length; i++) {
			var span = document.createElement("SPAN");
			var txt = document.createTextNode("\u00D7");
			span.className = "close";
			span.appendChild(txt);
			myNodelist[i].appendChild(span);
		}

		var close = document.getElementsByClassName("close");
		var i;
		for (i = 0; i < close.length; i++) {
			close[i].onclick = function () {
				var div = this.parentElement;
				div.style.display = "none";
			}
		}

		var list = document.querySelector('ul');
		list.addEventListener('click', function (ev) {
			if (ev.target.tagName === 'LI') {
				ev.target.classList.toggle('checked');
			}
		}, false);

		function newElement() {
			var li = document.createElement("li");
			var inputValue = document.getElementById("myInput").value;
			skillSet.push(inputValue);
			var t = document.createTextNode(inputValue);
			li.appendChild(t);
			if (inputValue === '') {
				alert("You must write something!");
			} else {
				document.getElementById("myUL").appendChild(li);
			}
			document.getElementById("myInput").value = "";

			var span = document.createElement("SPAN");
			var txt = document.createTextNode("\u00D7");
			span.className = "close";
			span.appendChild(txt);
			li.appendChild(span);

			for (i = 0; i < close.length; i++) {
				close[i].onclick = function () {
					var div = this.parentElement;
					div.style.display = "none";
				}
			}
		}
		jQuery(document).ready(function () {
			jQuery("#btnqrt").click(function () {
				console.log("clicked");
				var name = jQuery("#name").val();
				var expectedCTC = jQuery("#expectedCTC").val();
				var experience = jQuery("#experience").val();
				var currentCTC = jQuery("#currentCTC").val();
				var currentLocation = jQuery("#currentLocation").val();
				var preferedLocation = jQuery("#preferedLocation").val();
				var source = jQuery("#source").val();
				var Resume = jQuery("#Resume").val();
				if (name === "") {
					alert("Name column cannot be empty");
				}
				else if (location === "") {
					alert("Location column cannot be empty");
				}
				else if (experience === null) {
					alert("Experience column cannot be empty");
				}
				else if (vaccanies === 0) {
					alert("Vaccanies column cannot be empty");
				}
				else if (type === "") {
					alert("type field cannot be empty");
				}
				else if (description === "") {
					alert("description column cannot be empty");
				}
				else {
					var dataset = {};
					dataset.JobId = @ViewBag.job;
					dataset.Name = name;
					dataset.Email = @ViewBag.email;
					dataset.Experience = experience;
					dataset.Skill = skillSet;
					dataset.expectedCTC = expectedCTC;
					dataset.currentCTC = currentCTC;
					dataset.currentLocation = currentLocation;
					dataset.preferedLocation = preferedLocation;
					dataset.source = source;
					dataset.Resume = Resume;
					jQuery.ajax({
						type: "POST",
						url: '@Url.Action("EditJob","ATSApplication")',
						data: dataset,
						dataType: 'json',
						success: function (res) {
							if (res.result === "success") {
								window.location.href = '@Url.Action("CandidateDetail")';
							}
							else {
								alert("Error occured while submitting form! contact Administrator");
							}

						},
						error: function (err) {
							console.log(err)
						}

					});

				}
			});
		});

	</script>
</body>


</html>


